<div class="py-10 flex flex-col gap-3 items-center text-xl font-semibold font-mono">
  <span
    class="pb-5 text-2xl font-bold bg-gradient-to-r from-blue-500 via-green-700 to-red-800 bg-clip-text text-transparent">
    Order Confirmation
  </span>
  <p class="text-green-700">Thank you for Your Order.</p>
  <p class="text-blue-500">Your Order Number is {{ orderId }}.</p>
  <p class="text-red-800">We will call you in advance for exact date of delivery.</p>
  <button type="button" routerLink="/products"
          class="bg-blue-400 border px-3 py-2 mt-5 rounded text-white text-lg font-bold w-1/6">
    Shop again
  </button>
</div>
