<div class="py-10 flex flex-col gap-3 items-center text-xl font-semibold font-mono">
  <span
    class="pb-5 text-2xl font-bold text-gradient">
    Order Confirmation
  </span>
  <p class="text-green-700">Thank you for Your Order.</p>
  <p class="text-blue-500">Your Order Number is {{ orderId }}.</p>
  <p class="text-red-800">We will call you in advance for exact date of delivery.</p>
  <button type="button" routerLink="/products" class="btn-common mt-5 w-1/6">
    Shop again
  </button>
</div>
