<div class="pt-5 px-10 flex flex-row justify-center">
  <h1
    class="font-serif font-extrabold text-3xl bg-gradient-to-r from-blue-500 via-green-700 to-red-800 bg-clip-text text-transparent">
    {{ product().category | uppercase }}
  </h1>
</div>
<div class="p-10 flex flex-row justify-evenly">
  <img [src]="product().image || ''" alt="Product image" class="rounded-lg"
       width="458" height="512">
  <div class="w-1/3 flex flex-col">
    <h2
      class="font-serif font-extrabold text-2xl bg-gradient-to-r from-blue-500 via-green-700 to-red-800 bg-clip-text text-transparent">
      {{ product().title }}
    </h2>
    <h3 class="font-serif font-medium text-lg text-gray-500 my-5">{{ product().description }}</h3>
    @if (product().rating.rate) {
      <div class="flex gap-2">
        @for (_ of [].constructor(Math.round(product().rating.rate)); track $index) {
          <img src="assets/star.png" alt="Rating" class="w-8 h-8">
        }
      </div>
      <div class="flex gap-2 py-3">
        <span class="font-bold font-mono text-gray-500 text-base">{{ product().rating.count }}
          customers rated this product. Average rating:
          <span class="font-semibold text-blue-500">{{ product().rating.rate || 'N/A' }}</span>
        </span>
      </div>
    }
    <span
      class="font-extrabold font-mono text-2xl text-green-700 py-3">Your price: {{ product().price | currency }}</span>
    <div class="flex justify-start mt-3">
      <button class="px-3 py-1 bg-blue-200 rounded-xl hover:bg-blue-400"
              [disabled]="isAddedToCart()" (click)="decrementQuantity()"
              [ngClass]="{'bg-gray-400 hover:bg-gray-400': isAddedToCart()}">-
      </button>
      <input type="text" disabled
             class="w-16 text-center text-lg border rounded mx-2 bg-amber-50 text-gray-500 font-bold"
             [value]="cartQuantity() || quantity()"/>
      <button class="px-3 py-1 bg-blue-200 rounded-xl hover:bg-blue-400"
              [disabled]="isAddedToCart()" (click)="incrementQuantity()"
              [ngClass]="{'bg-gray-400 hover:bg-gray-400': isAddedToCart()}">+
      </button>
      <span class="px-3 text-gray-500 text-lg font-extrabold">Total price: </span>
      <span class="pr-3 text-green-700 text-lg font-extrabold">{{ totalPrice() | currency }}</span>
    </div>
    <div class="flex justify-start mt-3">
      <button type="button" (click)="addToCart()" [disabled]="isAddedToCart()"
              class="bg-blue-400 border px-3 py-2 rounded shadow-md text-white text-lg font-bold w-1/2"
              [ngClass]="{'bg-gray-400': isAddedToCart()}">
        <div class="flex gap-3 justify-center">
          <img src="assets/cart.png" alt="Add to Cart" class="w-7 h-7">
          @if (isAddedToCart()) {
            Added to Cart
          } @else {
            Add to Cart
          }
        </div>
      </button>
    </div>
    <div class="flex justify-start mt-8">
      <button type="button" (click)="toggleFavorite()"
              class="bg-blue-400 border px-3 py-2 rounded shadow-md text-white text-lg font-bold w-1/2">
        <div class="flex gap-3 justify-center">
          @if (product().isFavorite) {
            <img src="assets/favorite-heart-icon-5.jpg" alt="Remove from Favorites" class="w-7 h-7">
            Remove from Favorites
          } @else {
            <img src="assets/favorite-svgrepo-com.svg" alt="Add to Favorites" class="w-7 h-7">
            Add to Favorites
          }
        </div>
      </button>
    </div>
  </div>
</div>
