<app-nav-bar>
  <h1 left class="font-bold text-3xl text-red-800 cursor-pointer" routerLink="/">E-Commerce
    Shop</h1>
  <h2 middle
      class="text-3xl font-bold bg-gradient-to-r from-blue-500 via-green-700 to-red-800 bg-clip-text text-transparent">
    Happy Shopping with us!
  </h2>
  <div right class="flex flex-row gap-4">
    <img ngSrc="assets/favorites.png" alt="Favorites" height="40" width="40" routerLink="favorites"
         class="cursor-pointer" title="Favorites">
    <div class="flex justify-start gap-1 cursor-pointer" routerLink="cart" title="View Your Cart">
      <img ngSrc="assets/cart.png" alt="Your cart" height="40" width="40">
      <div
        class="bg-red-800 text-white rounded-b-lg rounded-t-xl w-5 h-5 flex justify-center items-center py-3 px-4">
        {{ itemsInCart() }}
      </div>
    </div>
    <img ngSrc="assets/order-history.png" alt="Your cart" height="40" width="40"
         routerLink="order-history" class="cursor-pointer ml-5" title="Order History">
  </div>
</app-nav-bar>
<router-outlet></router-outlet>
