@if (!favProducts().length) {
  <div class="p-10 flex justify-center">
    <span class="text-red-800 text-2xl font-bold">There are no Favorite Products at the moment</span>
  </div>
} @else {
  <div class="pt-10 flex justify-center">
    <span
      class="text-gray-700 text-2xl font-bold bg-gradient-to-r from-blue-500 via-green-700 to-red-800 bg-clip-text text-transparent">Your Favorite Products</span>
  </div>
  <div class="p-10 grid grid-cols-4 gap-10">
    @for (product of favProducts(); track product.id) {
      <app-product [product]="product"></app-product>
    }
  </div>
}
